<script src="https://giscus.app/client.js"
        data-repo="biswajitsahoo1111/rul_codes_open"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyNDE5Mzk0NDE="
        data-category="General"
        data-category-id="MDE4OkRpc2N1c3Npb25DYXRlZ29yeTMyMDk5NTQ5"
        data-mapping="title"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>